.wrapper
  .sidebar
    .sidebar__header-box
      .sidebar__header-box--name
        = current_user.name
        User name
      .sidebar__header-box__menu
        .sidebar__header-box__menu__new-group
          = link_to new_group_path do
            = fa_icon 'edit'
        .sidebar__header-box__menu__edit-user
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog'
    .sidebar__groups
      .sidebar__groups__group-box
        .sidebar__groups__group-box--name
          sample-group
        .sidebar__groups__group-box--text
          hello
  .main
    .main__header
      .main__header__left-box
        .main__header__left-box--group-name
          test
        .main__header__left-box--member
          test
      .main__header--edit-btn
        Edit
    .main__messages
      = render @messages
    .main__form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main__form__message', placeholder: 'type a message'
        = f.label :image, class: 'main__form__message--img' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'main__form__message--submit'



