.wrapper
  = render "shared/side_bar"
  .main
    .main__header
      .main__header__left-box
        .main__header__left-box--group-name
          = @group.name
        .main__header__left-box--member
          - @group.users.each do |group_user|
            = group_user.name
      .main__header--edit-btn
        = link_to edit_group_path(@group) do
          = 'Edit'
    .main__messages
      = render @messages
    .main__form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main__form__message', placeholder: 'type a message'
        = f.label :image, class: 'main__form__message--img' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'main__form__message--submit'



